body {
  background-color: #fffcf7;
}

.navigation {
  z-index: 5;
  background-color: #efb200;
}

.card-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid grey;
  z-index: 1;
}

.form-window {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
}

input:focus {
  border: 1px solid #f0ad4e !important;
  box-shadow: 0 0 3px #f0ad4e !important;
}

.form-icon { font-size: 70px; }

.nav-icon {
  margin-right: 15px;
  font-size: 25px;
}

.form-button { margin-bottom: 15px; }

.flash-card {
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 200px;
}

.card-question { min-height: 72px; }

.card-list {
  padding-top: 65px;
  z-index: 1;
}

.no-cards-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.practice-card-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 500ms ease-in-out;
}

.flash-divide { margin-top: 40px; }

.no-cards-form { z-index: 3; }

.edit-delete-icon {
  padding-left: 15px;
  padding-right: 0;
}

.nav-item.active { text-decoration: underline; }

.cycle-practice {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

.hidden-text {
  color: transparent;
}

.prog-bar {
  transform: translate(0, 180px);
}

.card-body {
  height: 250px;
}

.show-card {
  font-size: 40px;
}

.show-button {
  transform: translate(0, 150px);
}
