body {
  background-color: #fffcf7;
}

.navigation {
  z-index: 2;
}

.form-window {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.create-card-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  background-color: white;
  border: 1px solid grey;
}

input:focus {
  border: 1px solid #f0ad4e !important;
  box-shadow: 0 0 3px #f0ad4e !important;
}

.create-input { margin-top: 10px; }

.form-inputs,
.form-head { margin-top: 10px; }

.form-button { margin: 35px; }

.form-icon {
  margin-top: 20px;
  font-size: 70px;
}

.nav-icon {
  margin-right: 15px;
  font-size: 25px;
}

.flash-card {
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 200px;
}

.card-question {
  min-height: 72px;
}

.card-list { padding-top: 65px; }

.close-form {
  position: relative;
  top: 10px;
  left: 96%;
  width: 10px;
  font-size: 20px;
}

.no-cards-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-cards-button { transform: translateY(70%); }

.no-cards-text { margin-bottom: 30px; }

.edit-container {
  position: absolute;
  right: 10px;
  top: 10px;
  padding-left: 30px;
}

.edit-delete-icon {
  margin-left: 10px;
}

.close-form-delete {
  position: relative;
  top: 10px;
  left: 96%;
  width: 10px;
  font-size: 20px;
}

.form-icon.delete {
  padding-top: 0;
  font-size: 125px;
}

.warning-text.delete {
  padding-top: 20px;
  margin: 0 auto;
  width: 300px;
  font-size: 20px;
}

.form-button.delete {
  margin-top: 40px;
  font-size: 20px;
}

.delete-head {
  width: 100%;
  margin-top: 0;
}

.practice-card-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200%;
  transform: translate(-50%, -50%);
}

.practice-card {
  height: 300px;
}

.practice-right {
  position: relative;
  top: 170px;
  left: 101%;
  font-size: 30px;
}

.practice-left {
  position: relative;
  top: 170px;
  left: -70px;
  font-size: 30px;
}

.pracitce-question {
  margin-top: 105px;
}
